<a href="https://colab.research.google.com/github/Melaniam123/amateurcoder/blob/main/Analysis_on_IMBDb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMDB Movie Analysis using Pyspark

Group Assignment </br>
ALY 6110 Big Data - MPS Analytics </br>
Northeastern University </br>
March 23, 2023

#Introduction


Dataset - https://www.kaggle.com/datasets/rajugc/imdb-movies-dataset-based-on-genre/code

# Now that PySpark is installed, we will create a Spark session using the following:

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 11.0 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=954f2445fcce2c0e2f9ffa998bd6a6a1c5131518489441a52761f9cb38a8b7b2
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('MyApp').getOrCreate()

In [3]:
from pyspark.sql import SparkSession
from pyspark.ml.clustering import KMeans
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StandardScaler
from pyspark.ml.stat import Correlation
from pyspark.ml.stat import ChiSquareTest
from pyspark.ml.feature import StringIndexer

In [4]:
# Mount Google Drive in Google Colab. #Go to file and upload the csv "clean.csv"
from google.colab import drive
drive.mount('/content/drive')

# Create a Spark session
spark = SparkSession.builder.appName('clean').getOrCreate()

Mounted at /content/drive

In [5]:
# Load the dataset into a PySpark dataframe
df = spark.read.csv('/content/drive/MyDrive/clean.csv', header=True, multiLine=True, inferSchema=True).show(5,False)

+---------+----------------+----+-----------+-------+--------------------------+------+------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------+------------+------------------------------------------------------------------------+---------------------------------------+
|movie_id |movie_name      |year|certificate|runtime|genre                     |rating|votes |gross_revenue|description                                                                                                                                                                                                             |director        |director_id |star                                                                    |star_id                                |
+---------+----------------+----+-----------+-------+--------------------------+------+------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------+------------+------------------------------------------------------------------------+---------------------------------------+
|tt1825683|Black Panther   |2018|PG-13      |134    |Action, Adventure, Sci-Fi |7     |12730 |1018400      |T'Challa, heir to the hidden but advanced kingdom of Wakanda, must step forward to lead his people into a new future and must confront a challenger from his country's past.                                            |Ryan Coogler    |  nm3363032 |Chadwick Boseman, \nMichael B. Jordan, \nLupita Nyong'o, \nDanai Gurira |nm1569276,nm0430107,nm2143282,nm1775091|
|tt0092099|Top Gun         |1986|PG         |109    |Action, Drama             |7     |10355 |828400       |As students at the United States Navy's elite fighter weapons school compete to be best in the class, one daring young pilot learns a few things from a civilian instructor that are not taught in the classroom.       |Tony Scott      |  nm0001716 |Tom Cruise, \nTim Robbins, \nKelly McGillis, \nVal Kilmer               |nm0000129,nm0000209,nm0000534,nm0000174|
|tt0499549|Avatar          |2009|PG-13      |162    |Action, Adventure, Fantasy|8     |15390 |1231200      |A paraplegic Marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.                                                         |James Cameron   |  nm0000116 |Sam Worthington, \nZoe Saldana, \nSigourney Weaver, \nMichelle Rodriguez|nm0941777,nm0757855,nm0000244,nm0735442|
|tt1392170|The Hunger Games|2012|PG-13      |142    |Action, Adventure, Sci-Fi |7     |13490 |1079200      |Katniss Everdeen voluntarily takes her younger sister's place in the Hunger Games: a televised competition in which two teenagers from each of the twelve Districts of Panem are chosen at random to fight to the death.|Gary Ross       |  nm0002657 |Jennifer Lawrence, \nJosh Hutcherson, \nLiam Hemsworth, \nStanley Tucci |nm2225369,nm1242688,nm2955013,nm0001804|
|tt1160419|Dune            |2021|PG-13      |155    |Action, Adventure, Drama  |8     |14725 |1178000      |A noble family becomes embroiled in a war for control over the galaxy's most valuable asset while its heir becomes troubled by visions of a dark future.                                                                |Denis Villeneuve|  nm0898288 |Timothée Chalamet, \nRebecca Ferguson, \nZendaya, \nOscar Isaac         |nm3154303,nm0272581,nm3918035,nm1209966|
+---------+----------------+----+-----------+-------+--------------------------+------+------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------+------------+------------------------------------------------------------------------+---------------------------------------+
only showing top 5 rows

In [6]:
# Loading the database

In [7]:
df = spark.read \
         .option("header", "true") \
         .option("multiLine", "true") \
         .csv("/content/drive/MyDrive/clean.csv")

In [8]:
# Cache the DataFrame to improve performance
df.show(25)

+----------+--------------------+----+-----------+-------+--------------------+------+------+-------------+--------------------+--------------------+------------+--------------------+--------------------+
|  movie_id|          movie_name|year|certificate|runtime|               genre|rating|votes |gross_revenue|         description|            director| director_id|                star|             star_id|
+----------+--------------------+----+-----------+-------+--------------------+------+------+-------------+--------------------+--------------------+------------+--------------------+--------------------+
| tt1825683|       Black Panther|2018|      PG-13|    134|Action, Adventure...|     7| 12730|      1018400|T'Challa, heir to...|        Ryan Coogler|  nm3363032 |Chadwick Boseman,...|nm1569276,nm04301...|
| tt0092099|             Top Gun|1986|         PG|    109|       Action, Drama|     7| 10355|       828400|As students at th...|          Tony Scott|  nm0001716 |Tom Cruise, \nTim...|nm0000129,nm00002...|
| tt0499549|              Avatar|2009|      PG-13|    162|Action, Adventure...|     8| 15390|      1231200|A paraplegic Mari...|       James Cameron|  nm0000116 |Sam Worthington, ...|nm0941777,nm07578...|
| tt1392170|    The Hunger Games|2012|      PG-13|    142|Action, Adventure...|     7| 13490|      1079200|Katniss Everdeen ...|           Gary Ross|  nm0002657 |Jennifer Lawrence...|nm2225369,nm12426...|
| tt1160419|                Dune|2021|      PG-13|    155|Action, Adventure...|     8| 14725|      1178000|A noble family be...|    Denis Villeneuve|  nm0898288 |Timothée Chalamet...|nm3154303,nm02725...|
| tt0120737|The Lord of the R...|2001|      PG-13|    178|Action, Adventure...|     9| 16910|      1352800|A meek Hobbit fro...|       Peter Jackson|  nm0001392 |Elijah Wood, \nIa...|nm0000704,nm00052...|
| tt0468569|     The Dark Knight|2008|      PG-13|    152|Action, Crime, Drama|     9| 14440|      1155200|When the menace k...|   Christopher Nolan|  nm0634240 |Christian Bale, \...|nm0000288,nm00051...|
| tt1375666|           Inception|2010|      PG-13|    148|Action, Adventure...|     9| 14060|      1124800|A thief who steal...|   Christopher Nolan|  nm0634240 |Leonardo DiCaprio...|nm0000138,nm03306...|
|tt10872600|Spider-Man: No Wa...|2021|      PG-13|    148|Action, Adventure...|     8| 14060|      1124800|With Spider-Man's...|           Jon Watts|  nm1218281 |Tom Holland, \nZe...|nm4043618,nm39180...|
| tt0172495|           Gladiator|2000|          R|    155|Action, Adventure...|     9| 14725|      1178000|A former Roman Ge...|        Ridley Scott|  nm0000631 |Russell Crowe, \n...|nm0000128,nm00016...|
| tt4154796|   Avengers: Endgame|2019|      PG-13|    181|Action, Adventure...|     8| 17195|      1375600|After the devasta...|Anthony Russo, \n...|  nm0751577 |Robert Downey Jr....|nm0751648,nm00003...|
| tt2911666|           John Wick|2014|          R|    101|Action, Crime, Th...|     7|  9595|       767600|An ex-hit-man com...|Chad Stahelski, \...|  nm0821432 |Keanu Reeves, \nM...|nm0500610,nm00002...|
| tt8367814|       The Gentlemen|2019|          R|    113|Action, Comedy, C...|     8| 10735|       858800|An American expat...|         Guy Ritchie|  nm0005363 |Matthew McConaugh...|nm0000190,nm04022...|
| tt1856101|   Blade Runner 2049|2017|          R|    164|Action, Drama, My...|     8| 15580|      1246400|Young Blade Runne...|    Denis Villeneuve|  nm0898288 |Harrison Ford, \n...|nm0000148,nm03315...|
| tt5433138|   F9: The Fast Saga|2021|      PG-13|    143|Action, Crime, Th...|     5| 13585|      1086800|Dom and the crew ...|          Justin Lin|  nm0510912 |Vin Diesel, \nMic...|nm0004874,nm07354...|
| tt7888964|              Nobody|2021|          R|     92|Action, Crime, Drama|     7|  8740|       699200|A docile family m...|     Ilya Naishuller|  nm5820154 |Bob Odenkirk, \nA...|nm0644022,nm01485...|
| tt0133093|          The Matrix|1999|          R|    136|      Action, Sci-Fi|     9| 12920|      1033600|When a beautiful ...|Lana Wachowski, \...|  nm0905154 |Keanu Reeves, \nL...|nm0905152,nm00002...|
| tt0082971|Raiders of the Lo...|1981|         PG|    115|   Action, Adventure|     8| 10925|       874000|In 1936, archaeol...|    Steven Spielberg|  nm0000229 |Harrison Ford, \n...|nm0000148,nm00002...|
| tt0116629|    Independence Day|1996|      PG-13|    145|Action, Adventure...|     7| 13775|      1102000|The aliens are co...|     Roland Emmerich|  nm0000386 |Will Smith, \nBil...|nm0000226,nm00005...|
| tt0446029|Scott Pilgrim vs....|2010|      PG-13|    112|Action, Comedy, F...|     8| 10640|       851200|In a magically re...|        Edgar Wright|  nm0942367 |Michael Cera, \nM...|nm0148418,nm09355...|
| tt0232500|The Fast and the ...|2001|      PG-13|    106|Action, Crime, Th...|     7| 10070|       805600|Los Angeles polic...|           Rob Cohen|  nm0003418 |Vin Diesel, \nPau...|nm0004874,nm09080...|
| tt0115624|           Barb Wire|1996|          R|     98|      Action, Sci-Fi|     4|  9310|       744800|During the Second...|         David Hogan|  nm0389514 |Pamela Anderson, ...|nm0000097,nm00088...|
| tt2382320|      No Time to Die|2021|      PG-13|    163|Action, Adventure...|     7| 15485|      1238800|James Bond has le...|  Cary Joji Fukunaga|  nm1560977 |Daniel Craig, \nA...|nm0185819,nm18691...|
| tt6723592|               Tenet|2020|      PG-13|    150|Action, Sci-Fi, T...|     7| 14250|      1140000|Armed with only o...|   Christopher Nolan|  nm0634240 |John David Washin...|nm0913475,nm15001...|
| tt0113277|                Heat|1995|          R|    170|Action, Crime, Drama|     8| 16150|      1292000|A group of high-e...|        Michael Mann|  nm0000520 |Al Pacino, \nRobe...|nm0000199,nm00001...|
+----------+--------------------+----+-----------+-------+--------------------+------+------+-------------+--------------------+--------------------+------------+--------------------+--------------------+
only showing top 25 rows

In [9]:
# Check if the DataFrame loaded correctly
if df is not None:
    # Display summary statistics for all columns
    print("Summary statistics for all columns:")
    df.describe().show()
else:
    print("Error: DataFrame is None.")

Summary statistics for all columns:
+-------+---------+--------------------+------------------+-----------+------------------+------------+------------------+------------------+------------------+--------------------+--------------------+------------+--------------------+--------------------+
|summary| movie_id|          movie_name|              year|certificate|           runtime|       genre|            rating|            votes |     gross_revenue|         description|            director| director_id|                star|             star_id|
+-------+---------+--------------------+------------------+-----------+------------------+------------+------------------+------------------+------------------+--------------------+--------------------+------------+--------------------+--------------------+
|  count|    19258|               19258|             19258|      18487|             19256|       19258|             19258|             19258|             19258|               19258|               19258|       19258|               19256|               19258|
|   mean|     null|            Infinity|1998.0790840170318|       null|107.52908184461985|        null|6.2920344791774845|10214.201890123584| 817136.1512098868|                null|                null|        null|                null|                null|
| stddev|     null|                 NaN|18.616148036106804|       null|21.726234746237445|        null|1.0612835607599413| 2066.508754497995|165320.70035983936|                null|                null|        null|                null|                null|
|    min|tt0003471|"Dragon Ball Z: R...|              1913|        13+|               100|      Action|                 2|                 0|                 0|"""A Beginners Gu...| ""Knockout"" Han...|  nm0000033 |          nm0000142 |          nm0000142 |
|    max|tt9896916|            Æon Flux|              2022|          X|                99|War, Western|                 9|              9975|            995600|Æon Flux is a mys...|   Étienne Chatiliez| Éric Rohmer|Óscar Jaenada, \n...|nm9962502,nm82775...|
+-------+---------+--------------------+------------------+-----------+------------------+------------+------------------+------------------+------------------+--------------------+--------------------+------------+--------------------+--------------------+

In [10]:
# Display the schema and column names
print("Schema:")
df.printSchema()
print("\nColumn names:")
print(df.columns)

Schema:
root
 |-- movie_id: string (nullable = true)
 |-- movie_name: string (nullable = true)
 |-- year: string (nullable = true)
 |-- certificate: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- votes : string (nullable = true)
 |-- gross_revenue: string (nullable = true)
 |-- description: string (nullable = true)
 |-- director: string (nullable = true)
 |-- director_id: string (nullable = true)
 |-- star: string (nullable = true)
 |-- star_id: string (nullable = true)


Column names:
['movie_id', 'movie_name', 'year', 'certificate', 'runtime', 'genre', 'rating', 'votes ', 'gross_revenue', 'description', 'director', 'director_id', 'star', 'star_id']

In [11]:
# Check the number of rows and columns
print("\nNumber of rows:", df.count())
print("Number of columns:", len(df.columns))

Number of rows: 19258
Number of columns: 14

In [12]:
# Display summary statistics for numeric columns
numeric_cols = [col_name for col_name, col_type in df.dtypes if col_type.startswith('double') or col_type.startswith('int')]
if numeric_cols:
    numeric_df = df.select(numeric_cols)
    print("\nSummary statistics for numeric columns:")
    numeric_df.describe().show()
else:
    print("\nNo numeric columns found.")

No numeric columns found.

In [13]:
df.limit(5)

DataFrame[movie_id: string, movie_name: string, year: string, certificate: string, runtime: string, genre: string, rating: string, votes : string, gross_revenue: string, description: string, director: string, director_id: string, star: string, star_id: string]

In [14]:
df.columns

['movie_id',
 'movie_name',
 'year',
 'certificate',
 'runtime',
 'genre',
 'rating',
 'votes ',
 'gross_revenue',
 'description',
 'director',
 'director_id',
 'star',
 'star_id']

In [15]:
df.dtypes

[('movie_id', 'string'),
 ('movie_name', 'string'),
 ('year', 'string'),
 ('certificate', 'string'),
 ('runtime', 'string'),
 ('genre', 'string'),
 ('rating', 'string'),
 ('votes ', 'string'),
 ('gross_revenue', 'string'),
 ('description', 'string'),
 ('director', 'string'),
 ('director_id', 'string'),
 ('star', 'string'),
 ('star_id', 'string')]

In [16]:
df.printSchema()

root
 |-- movie_id: string (nullable = true)
 |-- movie_name: string (nullable = true)
 |-- year: string (nullable = true)
 |-- certificate: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- votes : string (nullable = true)
 |-- gross_revenue: string (nullable = true)
 |-- description: string (nullable = true)
 |-- director: string (nullable = true)
 |-- director_id: string (nullable = true)
 |-- star: string (nullable = true)
 |-- star_id: string (nullable = true)

In [17]:
# By readng the schema in the code above we observed the values to be string. This is due to the delimiter or carriage characters which are "/",",",":",";". 
# Hence we specified the delimiter by using sep ",", which means specifying that the data in the cell is separated by comma. 
# Now it can be observed that all numeric values are integer 
df = spark.read.csv('/content/drive/MyDrive/clean.csv', header=True, sep=",", inferSchema=True)
df.printSchema()

root
 |-- movie_id: string (nullable = true)
 |-- movie_name: string (nullable = true)
 |-- year: string (nullable = true)
 |-- certificate: string (nullable = true)
 |-- runtime: integer (nullable = true)
 |-- genre: string (nullable = true)
 |-- rating: integer (nullable = true)
 |-- votes : integer (nullable = true)
 |-- gross_revenue: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- director: string (nullable = true)
 |-- director_id: string (nullable = true)
 |-- star: string (nullable = true)
 |-- star_id: string (nullable = true)

# Summary Statistics

In [18]:
# Display summary statistics for numeric columns
numeric_cols = [col_name for col_name, col_type in df.dtypes if col_type.startswith('double') or col_type.startswith('int')]
if numeric_cols:
    numeric_df = df.select(numeric_cols)
    print("\nSummary statistics for numeric columns:")
    numeric_df.describe().show()
else:
    print("\nNo numeric columns found.")

# The rutime mean is 107 with a stadard deviation of 21.72,
# The rating mean is 6 with a standard deviation of 1.06,
# The votes mean is 10214 with a standar deviation of 2066,
# The gross revenue mean is 817,136 (in $) with standard deviation of 165320.

Summary statistics for numeric columns:
+-------+------------------+------------------+------------------+------------------+
|summary|           runtime|            rating|            votes |     gross_revenue|
+-------+------------------+------------------+------------------+------------------+
|  count|             19256|             19258|             19258|             19258|
|   mean|107.52908184461985|6.2920344791774845|10214.201890123584| 817136.1512098868|
| stddev| 21.72623474623741|1.0612835607599416|  2066.50875449799|165320.70035983936|
|    min|                40|                 2|                 0|                 0|
|    max|               808|                 9|             76760|           6140800|
+-------+------------------+------------------+------------------+------------------+

# Deriving a new column from an exisitng one

In [19]:
from pyspark.sql.functions import col
from pyspark.sql.functions import lit

In [20]:
# Deriving a new column from an exisitng one
# We will add a new column called 'movie_certificate' which has the value of movie name and certificate appended together with a space in between 
from pyspark.sql.functions import concat
df = df.withColumn('movie_certificate', concat(col("movie_name"), lit(" "), col("certificate")))
# lit means literal. It populates the row with the literal value given.
# When adding static data / constant values, it is a good practice to use it.
df.show(5,truncate=False)

+-----------------+---------------------------------------+----+-----------+-------+-------------------------+------+------+-------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+------------+------------------+-------+-------------------+
|movie_id         |movie_name                             |year|certificate|runtime|genre                    |rating|votes |gross_revenue|description                                                                                                                                                                                                      |director    |director_id |star              |star_id|movie_certificate  |
+-----------------+---------------------------------------+----+-----------+-------+-------------------------+------+------+-------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+------------+------------------+-------+-------------------+
|tt1825683        |Black Panther                          |2018|PG-13      |134    |Action, Adventure, Sci-Fi|7     |12730 |1018400      |T'Challa, heir to the hidden but advanced kingdom of Wakanda, must step forward to lead his people into a new future and must confront a challenger from his country's past.                                     |Ryan Coogler|  nm3363032 |Chadwick Boseman, |null   |Black Panther PG-13|
|Michael B. Jordan|                                       |null|null       |null   |null                     |null  |null  |null         |null                                                                                                                                                                                                             |null        |null        |null              |null   |null               |
|Lupita Nyong'o   |                                       |null|null       |null   |null                     |null  |null  |null         |null                                                                                                                                                                                                             |null        |null        |null              |null   |null               |
|Danai Gurira"    |nm1569276,nm0430107,nm2143282,nm1775091|null|null       |null   |null                     |null  |null  |null         |null                                                                                                                                                                                                             |null        |null        |null              |null   |null               |
|tt0092099        |Top Gun                                |1986|PG         |109    |Action, Drama            |7     |10355 |828400       |As students at the United States Navy's elite fighter weapons school compete to be best in the class, one daring young pilot learns a few things from a civilian instructor that are not taught in the classroom.|Tony Scott  |  nm0001716 |Tom Cruise,       |null   |Top Gun PG         |
+-----------------+---------------------------------------+----+-----------+-------+-------------------------+------+------+-------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+------------+------------------+-------+-------------------+
only showing top 5 rows

# Grouping By Columns

In [21]:
# Group By a column in PySpark
df.groupBy('certificate').count().show(5)

+--------------------+-----+
|         certificate|count|
+--------------------+-----+
|           Not Rated| 1955|
|             Unrated|  289|
|nm7248321,nm72510...|    2|
|            Approved|  347|
|              Passed|  328|
+--------------------+-----+
only showing top 5 rows

In [22]:
# Group By a column in PySpark
df.groupBy('genre').count().show(5)

+--------------------+-----+
|               genre|count|
+--------------------+-----+
|    Action, Thriller|  161|
|Adventure, Horror...|    2|
|Action, Drama, Music|    9|
|Crime, Drama, Action|    2|
|     Crime, Thriller|   88|
+--------------------+-----+
only showing top 5 rows

In [23]:
!pip install pyspark_dist_explore
from pyspark.sql import SparkSession
import pyspark_dist_explore

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark_dist_explore
  Downloading pyspark_dist_explore-0.1.8-py3-none-any.whl (7.2 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from pyspark_dist_explore) (1.4.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from pyspark_dist_explore) (1.10.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from pyspark_dist_explore) (1.22.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.9/dist-packages (from pyspark_dist_explore) (3.7.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyspark_dist_explore) (1.4.4)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyspark_dist_explore) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyspark_dist_explore) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyspark_dist_explore) (4.39.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyspark_dist_explore) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyspark_dist_explore) (8.4.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyspark_dist_explore) (23.0)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyspark_dist_explore) (5.12.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyspark_dist_explore) (1.0.7)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pyspark_dist_explore) (2022.7.1)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib->pyspark_dist_explore) (3.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7->matplotlib->pyspark_dist_explore) (1.16.0)
Installing collected packages: pyspark_dist_explore
Successfully installed pyspark_dist_explore-0.1.8

In [34]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans

# Create a SparkSession
spark = SparkSession.builder.appName("ClusteringExample").getOrCreate()

# Load the data into a PySpark DataFrame
#data = spark.read.csv("df.csv", header=True, inferSchema=True)

# Prepare the data for clustering
assembler = VectorAssembler(inputCols=["runtime", "rating", "votes "], outputCol="features", handleInvalid="skip")
data = assembler.transform(df).select("features")

In [36]:
# Train a k-means clustering model
kmeans = KMeans(k=2, seed=1)
model = kmeans.fit(data)

In [43]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator

In [47]:
# Evaluate the model
#wssse = model.computeCost(data)
#print("Within Set Sum of Squared Errors = " + str(wssse))


wssse = model.summary.trainingCost
print("Within Set Sum of Squared Errors = " + str(wssse))

# Make predictions on new data
predictions = model.transform(data)

# In the above example, we first load the data, train the KMeans model, compute the cost using the computeCost() method from the KMeans class, and then evaluate the clustering using the ClusteringEvaluator class.
# The Within Set Sum of Squared Errors (WSSSE) is a measure of the total squared distance between each point in the dataset and its assigned cluster center in a K-means clustering model. A lower WSSSE indicates better clustering, as it suggests that the points in each cluster are closer to their respective cluster centers. In the given example, the WSSSE value is 38959147433.03747. 
# This value is just a number and it is hard to interpret whether it is high or low without any context. However, we can compare this value with the WSSSE values obtained from other clustering models applied to the same dataset, to determine which model performs better.
# In general, while comparing the WSSSE values of different clustering models, a lower value of WSSSE indicates better clustering as it suggests that the points in each cluster are closer to their respective cluster centers. However, the optimal value of WSSSE largely depends on the context of the problem and the specific dataset being used.

Within Set Sum of Squared Errors = 38959147433.03747

In [49]:
predictions = model.transform(data)
evaluator = ClusteringEvaluator()
silhouette = evaluator.evaluate(predictions)
print("Silhouette Score:", silhouette)

# The Silhouette score is a measure of how similar an object is to its own cluster compared to other clusters, and ranges from -1 to 1, with higher values indicating better clustering results.

Silhouette Score: 0.696324522863174

# References
https://medium.datadriveninvestor.com/big-data-analytics-with-pyspark-pyspark-on-google-colab-5abe2322221